html{height: 100%;}
body
{
    display: grid;
    height: 100%;
    grid-template-areas:
    "header  header  header"
    "cal     pod     desc"
    "cal     sun     desc"
    "footer  footer  footer";
    grid-template-rows: 80px auto auto auto;
    grid-template-columns: auto 60% auto;
    column-gap: 1%;
    
    background-color: #03122b;
    color: #FFFFFF;
    margin: 0;
}
header
{
    background-color: #03122b;
    grid-area: header;
}
footer{grid-area: footer; background-color: #03122b;;}
#calendar{grid-area: cal;}
#location{grid-area: sun;}
#description
{
    grid-area: desc; 
    background-color: #03122b; 
    height: fit-content;
    align-self: center;
    justify-self: center;
}
h2{margin: 5px;}
p{margin: 5px;}
#pod
{
    display: grid;
    grid-area: pod; 
    margin: auto;
    grid-template-areas:
    "prev   next"
    "pic    pic";
}
#pod img {grid-area: pic;}
#next{grid-area: next;}
#prev{grid-area: prev}
img
{
    opacity: 1;
    max-width: 100%;
}