/*Fonts*/
@font-face {
    font-family: 'retro_computerregular';
    src: url('../Fonts/RetroComputer/retro_computer_personal_use-webfont.woff2') format('woff2'),
         url('../Fonts/RetroComputer/retro_computer_personal_use-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'dogica_pixelregular';
    src: url('../Fonts/Dogica/dogicapixel-webfont.woff2') format('woff2'),
         url('../Fonts/Dogica/dogicapixel-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/*Headings*/
h1,h2,h3,h4
{
    font-family: retro_computerregular;
    font-weight: normal;
}
h1{font-size: xx-large;}
h2{font-size: x-large;}
h3{font-size: 1.2rem;}
/*Body and general set up*/
body
{
    height: 100%;
    font-family: dogica_pixelregular;
    font-weight: normal;
    line-height:1.4em;
    font-size:small;
    min-height: 100vh;
    color: #FFFFFF;
    display: grid;
    grid-template-areas:
    "header"
    "tree"
    "valley"
    "blocks"
    "footer";
    grid-template-rows: 60px 1fr 1fr 1fr 10%;
    grid-template-columns: 100%;
    row-gap: 3%;
    margin:0;
    background-color: #35363D;
}
img{max-width: 100%;}

/*combos commands with header*/
#header,#oak,#crafted{padding: 10px 10vw;}
#header,.left, #descriptor{background-color: #656868;}
/*Header and its items*/
#header
{
    grid-area: header;
    display: flex;
    flex-flow: row;
    height: 100%;
    align-items: center;
}
#header img{width: 4em;}
#header h4
{
    margin-left: auto; 
    text-align: right;
}
/*Oak and its items*/
#oak
{
    grid-area: tree;
    display: grid;
    grid-template-areas: 
    "left   right";
    grid-template-columns: 50% 50%;
    grid-template-rows: min-content;
    column-gap: 20px;
}
.left,.right,#descriptor {padding:7%;}
.right
{
    grid-area: right;
    background-image: linear-gradient(to bottom right, #E8FdF590, #244D3EE0);
    border: 10px solid #FFFFFF ;
    width: fit-content;
    height: fit-content
}
.left{grid-area:left; padding-top: 2%}
/*valley pic*/
#spread{grid-area: valley;}
/*Blocks*/
#crafted
{
    grid-area: blocks;
    display: grid;
    grid-template-areas: 
    "planks  sticks"
    "chest   stairs"; 
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 10px 20px;
    align-items: center;
    
}
#crafted img{width: 10vw;}
.planks,.stick,.chest,.stairs
{
    display: grid;
    grid-template-areas: "image   desc";
    grid-template-columns: auto auto;
    grid-template-rows: 100%;
    column-gap: 20px;
    align-items: center;
    
}
.planks{grid-area: planks;}
.stick{grid-area: sticks;}
.chest{grid-area: chest;}
.stairs{grid-area: stairs;}
#descriptor{grid-area: desc;}
.craf
{
    text-align: center;
    grid-area: image;
    border: 10px solid #FFFFFF ;
    background-color: #324E44;
    
}

/*Footer set up*/
footer{
    background-image: url('../Assets/trees.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    grid-area: footer;
    padding:5vh 10vw;
    bottom: 0;
    display: grid;
    grid-template-areas: "trees   copyright";
    column-gap: 30%;
    border-top: 10px solid #FFFFFF ;
    line-height: 2.3em;
    
    
}
.copyright{text-align: right; grid-area: copyright;}
.treescool{grid-area: trees;}