
body {background-color: lightblue; font-family:Arial, sans-serif}
h1 {font-family: 'Bebas Neue', cursive;}
h2 { color: rgb(6, 56, 68); font-family: 'Bebas Neue', cursive;}
p { margin-left: 100px;}
img.side {float:right; margin: 0 12px;}