/*Figure*/
figure{max-width: 650px; margin-left: auto; margin-right: auto;}
figure img{width:100%;}
/*header, main, footer*/
header, main, footer {width: 90%; margin-left: auto; margin-right: auto;}
/*Tetrominos*/
#tetlist{display: flex; flex-flow: row wrap;}
div.tet{flex: 0 1 450px; border: 1px solid black; text-align: center;} 
div img{width: 60%;}
div.aliases{text-align: left; margin: 1em;}
span.name{
    display: block; 
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: large;
    font-weight: bold;
}
div.long img{width: 80%;}
div.square img{width: 40%;}