/*Colors
#CED0C8 //grey
#153243 //darkblue
#284B63 //blue
#315d7a //link blue
#4a7795 //focus blue
#F4F9E9 //ivory
#ECEDE8 //light pinky grey*/

h1{font-size: 2.5rem;}
h2{font-size: 1.4rem;}
h3{font-size: 1.2rem}
h4{font-size: 1rem;}
img{border: .7em solid #153243;}
ul{list-style-type: none; padding: 0;}
li{margin: 15px 0;}
a:link{color: #315d7a;}
a:visited{color: #153243}
a:focus, a:hover, a:active{color: #4a7795;}


body
{
    width: 100%;
    height: 100vh;
    font-size: 1rem;
    margin: 0;
    background-color: #f4f9e9;
    color: #153243;
    display: grid;
    grid-template-areas: 
    "header"
    "nav"
    "overview"
    "about"
    "progress"
    "contact";
    grid-template-columns: 100%;
    grid-template-rows: 100px 6vh .8fr .4fr 1fr 15rem;
}

header
{
    grid-area: header;
    background-color: #284B63;
    color: #F4F9E9;
    padding: 3vw;
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 3%;
}

header img
{
    margin-left: 3vw;
    max-height: 150%;
    min-height: 5vh;
    border: .3em solid #153243;
}

#nav
{
    background-color: #CED0C8;
    grid-area: nav;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-around;
    padding-right: 3vw;
}

#projectScroll
{
    width: 95%;
    grid-area: overview;
    margin: 0 3vw;
}
.project, .projectvar
{
    max-height: 400px;
    display: grid;
    grid-template-rows: 10% 90%; 
    grid-template-columns: auto auto;
    column-gap: 3vw;
}

.project
{
    grid-template-areas: 
    "photo    title"
    "photo    desc";
}
.projectvar
{
    grid-template-areas: 
    "title    photo"
    "desc     photo";
}
.project img, .projectvar img {grid-area: photo; margin: 3vw 0;}
.project h2, .projectvar h2, .project h3{grid-area:title;}
.project p, .projectvar p {grid-area: desc; overflow-y: auto;}

#about
{
    grid-area: about;
    background-color: #ECEDE8;
    display: grid;
    grid-template-areas: 
    "photo    title"
    "photo    desc";
    grid-template-rows: 10% 90%; 
    grid-template-columns: 38% 58%;
    column-gap: 3vw;
    justify-content: start;
}

#about img
{
    height: auto;
    width: 80%;
    margin: 3vw; 
    grid-area: photo;
}
#about h2{grid-area: title;}
#about p{grid-area: desc; width: 99%;}
#progress{grid-area: progress; margin: 3vw;}

#external
{
    font-size: 1.5em;
    text-align: center;
    grid-area: contact;
    background-color: #CED0C8;
    display: flex;
    flex-flow: column;
    justify-content: center;
    
}

@media screen and (max-width:770px)
{
    h1{font-size: 1.5rem;}
    h2{font-size: 1.4rem;}
    h3{font-size: 1.2rem}
    h4{font-size: 1rem;}
    header img
    {
        margin-left: 1vw;
        height: 100%;
    }
    body
    {
        font-size: 1rem;
        grid-template-columns: 100%;
        grid-template-rows: 100px 6vh 1fr .2fr 1fr 15rem;
        
    }
    #nav{justify-content: space-evenly;}
    #projectProg,#projectScroll
    {
        display: flex;
        flex-flow: column;
        align-content: space-around;
        max-height: 100%;
    }
    .project img, .projectvar img{height: 100%; margin:5px 0;}
    p{height: 100%; margin: 10% 0;}
    .project, .projectvar
    {
        height:100%;
        grid-template-rows: 3vh 40% auto; 
        grid-template-columns: auto;
        grid-template-areas: 
        "title"    
        "photo"   
        "desc";
        margin: 4% 0;
    }
    #about img{width: 40%; float: left; margin: 10px}
    #about
    {
        margin-top:10%;
        display: initial;
        padding: 3vw;
    }
    #external{margin-top: 7%; padding-top: 3%;}
}

@media screen and (min-width:1400px)
{
    body
    {
        grid-template-columns: 100%;
        grid-template-rows: 100px 6vh 1fr 40vh 1fr 15rem;
    }
    #projectScroll
    {
        display: flex;
        justify-content: space-evenly;
    }
    .project img, .projectvar img{width: 70%; margin:5px 0;}
    .project p, .projectvar p{overflow-y: visible;}
    p{height: 100%; width: 80%;}
    .project, .projectvar
    {
        max-height: 1600px;
        width: 80%;
        grid-template-rows: 5vh .3fr .8fr; 
        grid-template-columns: auto;
        grid-template-areas: 
        "title"    
        "photo"   
        "desc";
    }
    #about
    {
        grid-template-rows: 10% 90%; 
        grid-template-columns: 25% 72%;
        grid-column-gap:3vh ;
    }
    #about img
    {
        height: 80%;
        width: auto;
        margin: auto 5%;
        grid-area: photo;
    }
    #projectProg
    {display: flex;
        justify-content: space-evenly;
    }
}